/* Apply a basic reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
  flex-direction: column; /* Align children vertically */
  justify-content: start; /* Align content to the start */
  min-height: 100vh; /* Full height of the viewport */
  padding-top: 20px; /* Optional: space for the header */
}

.register, .login {
  background-color: white;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.register h1, .login h1 {
  color: #333;
  margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

label {
  margin-top: 10px;
  display: block;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .register, .login {
    width: 90%;
  }
}

.App-header {
  width: 100%;
  text-align: center;
  background-color: #007bff;
  color: white;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Adjust as needed */
}
