/* General Styles */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
.navbar{
  background-color: white;
  color: #373a41;
  position: fixed;
}

.navbar ul li{
  color: #373a41;
}
  
  