.collectionsSubmenu{
    width: 10rem;
    position: absolute;
    top: 65px;
    list-style: none;
    text-align: start;
}

.collectionsSubmenu li{
    background: #00B4D8;
    cursor: pointer;
}

.collectionsSubmenu.clicked{
    display: none;
}

.collections-menu-item{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
}

.collections-menu-item li a:hover{
    background: #0077B6;
}
