.navbar{
    height: 10vh;
    width: 100%;
    background: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
}

.nav-items{
    display: flex;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: flex-end;
    margin-right: 2rem
}

.nav-item{
    display: flex;
    align-items: center;
    height: 10vh;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin-right: 2rem;
    padding: 6px 16px;
    border-radius: 5px;
}

.nav-item a:hover {
    background: #1769aa;
}